/* iPhone 11 1792x828px at 326ppi */
@media only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 2) { }

/* iPhone X/11 Pro 2436x1125px at 458ppi */
@media only screen
    and (device-width: 375px)
    and (device-height: 812px)
    and (-webkit-device-pixel-ratio: 3) { }

/* iPhone 11 Pro max 2688x1242px at 458ppi */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { }

@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Jura:wght@500;700&family=Nosifer&family=Press+Start+2P&display=swap');

$hex-crimson: #ff4136;
$hex-orange: #d66f25;
$hex-yellow: #e5c400;
$theme-colors: (
  "primary": $hex-orange,
  "secondary": #333030,
  "dark": #151010,
  "success": #80d631,
  "info": $hex-yellow,
  "warning": $hex-orange,
  "danger": $hex-crimson
);
@import "~bootstrap/scss/bootstrap";

body { 
    font-family: "Happy Monkey", sans-serif; 
    background: #111 url(/iron_texture1745.jpg);
    background-size: auto;
}
.numeric { font-family: Jura, monospace }

.container, .container-md, .container-sm {
    max-width: 800px;
}

.accordion>.card .card-header { cursor: pointer; }

.tooltip-inner {
    font-family: "Happy Monkey", Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    max-width: 30em
}
