@use "sass:map";
@use "./theme" as bs;
@use '../node_modules/bootstrap/scss/bootstrap' with (
    $theme-colors: bs.$theme-colors
);

body {
    font-family: 'Titillium Web', Arial, sans-serif;
    color: map.get(bs.$theme-colors, light);
    background:  black;
    background-size: auto;
    font-size: 1.10rem;
    line-height: 1.50rem; /* factory bootstrap has 1.5; with no suffix */
}
h1, .h1 { font-size: 1.50rem; }
h2, .h2 { font-size: 1.30rem; }
h3, .h3 { font-size: 1.10rem; }
h4, .h4 { font-size: 1.0rem; }
h6, .h6 { font-weight: bold }
small, .small { font-size: 0.75rem; }
.xs-small { font-size: 1.00rem; }
.text-muted { font-weight: normal; color: map.get(bs.$theme-colors, muted) !important }

/* iPhone 11 1792x828px at 326ppi */
@media only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 2) { }

/* iPhone X/11 Pro 2436x1125px at 458ppi */
@media only screen
    and (device-width: 375px)
    and (device-height: 812px)
    and (-webkit-device-pixel-ratio: 3) { }

/* iPhone 11 Pro max 2688x1242px at 458ppi */
@media only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 3) { }

@media (max-width: 768px){
    .xs-small { font-size: 0.90rem }
}
@media (max-width: 414px){
    .xs-small { font-size: 0.74rem }
}
@media (max-width: 400px){
    h1, .h1 { font-size: 1.25rem }
    h2, .h2 { font-size: 1.10rem; }
    h3, .h3 { font-size: 1.0rem; }
    h4, .h4 { font-size: 0.9rem; }
    h6, .h6 { font-weight: bold }
    .xs-small { font-size: 0.70rem }
}
@media (max-width: 320px){
    .xs-small { font-size: 0.40rem }
}
@media (min-width: 576px)  { .container, .container-sm, .container-md, .container-lg { max-width: 576px; } }
@media (min-width: 768px)  { .container, .container-sm, .container-md, .container-lg { max-width: 720px; } }
@media (min-width: 992px)  { .container, .container-sm, .container-md, .container-lg { max-width: 720px; } }
@media (min-width: 1200px) { .container, .container-sm, .container-md, .container-lg { max-width: 720px; } }

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono:wght@400&family=Titillium+Web:wght@400;700&family=Nosifer&display=swap');

#hexmob_header {
    position: fixed;
    top: 0;
    height: 40px;
    width: 100vw;
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Titillium Web', Arial, sans-serif;
    text-align: center;

    #usdhex {
        width: fit-content;
        margin: 0.8em auto 0 auto;
        text-align: center;
        & .progress {
            width: 100%;
            height: 0.1rem;
            background-color: #00000000;
            div { width: 0% !important; transition: none }
            div.countdown { width: 100% !important; transition: width 9.5s linear !important; }
        }
    }

    #branding {
        float: left;
        h1 {
            display: inline-block;
            position: relative;
            font-size: 24px;
            font-weight: bold;
            margin: 0;
            padding: 0 0 0 32px;
            background: rgba(0, 0, 0, 0) url('/seo/favicon-96x96.png') no-repeat top left;
            background-size: auto 30px;

            sup {
                position: relative;
                font-size: 14px;
                top: -10px;
                margin-left: 0.1em;
                vertical-align: none;
            }
        }
    }

    #language-select {
        display: inline-flex;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
        float: right;
    }

    #version-day {
        float: right;
        height: 40px;
        margin: 0;
        padding: 0 3px 0 0;
        text-align: right;

        h3 { /* version */
            overflow: hidden;
            display: block;
            font-size: .65em;
            color:#ccc;
            margin:0;
            padding:0;
        }
    }

}

#hexmob_body {
    position: fixed;
    top: 40px;
    bottom: 74px;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;

    & .stakes-table { font-family: 'Share Tech Mono', "Courier New", monospace; font-size: 1.2em; }
}

#hexmob_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 60px;
    padding: 12px 0;
    margin: 0;
    background: linear-gradient(135deg, rgba(13, 17, 23, 0.95), rgba(21, 32, 43, 0.95));
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1000;
}

#wallet_status {
    .row {
        align-items: center;
        justify-content: center;
        min-height: 36px;
    }
    /* Override AppKit CSS variables to reduce border radii */
    appkit-button,
    appkit-account-button {
    --apkt-borderRadius-16: 12px;
    --apkt-borderRadius-20: 12px;
}

}

.connect-button {
    font-family: 'Titillium Web', Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.6em;
    color: #777;
    background-color: map.get(bs.$theme-colors, light);
    min-width: 160px;
    min-height: 48px;

    &.metamask { background: white center/152px no-repeat url(/mm-wordmark.svg); }
    &.trust {
        padding-left: 48px;
        color: #ffffff;
        background: #3375bb 6px/142px no-repeat url(/trust-logo.png);
    }
    &.wallet-connect {
        padding-left: 48px;
        color: #3b99fc;
        background: url(/walletconnect.svg) white 6px/32px no-repeat;
    }

    &:hover { color: inherit !important }
}

.form-label { font-weight: bold; }
.btn {
    &-sm { padding: 0.1rem .2rem; line-height: 1em; }
    &-info:hover { color: #fff; }
}

.numeric {
    font-family: 'Share Tech Mono', "Courier New", monospace;
    display: inline;
}
.unit {
    @extend .text-muted;
    font-size: 0.9em;
}

.accordion {
    padding-bottom: 0.25em;
    color: map.get(bs.$theme-colors, primary);

    &-item {
        margin: 0.3rem 0 0.3rem 0;
        border-width: 2px !important;
        border-radius: 5px !important;
        border-color:  rgba(20,20,20,1);
        color: map.get(bs.$theme-colors, light);
        background-color: rgba(30,30,30,1);
    }
    &-body, &-collapse {
        padding: 0;
    }

    &-button { // inside <Accordion.Header/>
        cursor: pointer;
        background: map.get(bs.$theme-colors, secondary);
        color: #eee; font-weight: bold;
        margin: 0;
        padding: 0;
        background: linear-gradient(180deg, rgba(20,20,20,1) 0, rgba(0,0,0,1) 22px, rgba(50,50,50,1) 44px);
        border: 0;
        border-radius: 3px !important;
        box-shadow: none !important;
    }
    &-button:not(.collapsed) {
        color: #eee; font-weight: bold;
    }

    &-button::after { content: none; }
}

.burger-heading {
    display: inline-block;
    font-family: 'Titillium Web', Arial, sans-serif;
    font-size: 1.35rem;
    font-weight: bold;
    padding: .1em .25em;

    > img:first-child {
        display: inline-block;
        height: 1.4em;
        vertical-align: middle;
        margin: 0 6px 0 0
    }

    > span:first-child {
        vertical-align: middle;
        font-size: 1.4em
    }

}

.spinner-border {
    vertical-align: middle;
    margin-right: 0.2em;
}

.popover{
    max-width: 310px; /* Max Width of the popover (depending on the container) */
}

.tooltip-inner {
    font-family: "Happy Monkey", Arial, sans-serif;
    font-size: .9em;
    max-width: 365px;
    padding: 1em .5em;
    border: 3px map.get(bs.$theme-colors, info) solid;
    border-radius: 3px;
    color: map.get(bs.$theme-colors, info);
    background-color: map.get(bs.$theme-colors, info-darkened);
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
}
.tooltip.show {
    opacity: 0.95;
}

.row-highlight-even .row:nth-child(even) {  background-color: #2b2b2b; }

input.donate_addr {
    font-family: "Courier New", monospace;
    font-size: 0.65rem;
    color: #ccc;
    background-color: map.get(bs.$theme-colors, warning);
    border: 0;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1.2em;
}
ul.no-bullets > li {
    margin-top: 0.4em;
}

.text-bold { font-weight: bold; }

.what-is-this {
    display: inline-block;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}



