/* iPhone 11 1792x828px at 326ppi */
@media only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 2) { }

/* iPhone X/11 Pro 2436x1125px at 458ppi */
@media only screen
    and (device-width: 375px)
    and (device-height: 812px)
    and (-webkit-device-pixel-ratio: 3) { }

/* iPhone 11 Pro max 2688x1242px at 458ppi */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { }

@media (max-width: 414px){
    .xs-small { font-size: 0.90em }
}
@media (max-width: 400px){
    .xs-small { font-size: 0.80em }
}
@media (max-width: 320px){
    .xxs-small { font-size: 0.67em }
}
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Jura:wght@500;700&family=Press+Start+2P&family=Titillium+Web:wght@400;700&family=Nosifer&display=swap');

$hex-crimson: #ff4136;
$hex-orange: #d66f25;
$hex-yellow: #e5c400;
$theme-colors: (
  "primary": $hex-orange,
  "secondary": #333030,
  "dark": #151010,
  "success": #80d631,
  "info": $hex-yellow,
  "warning": $hex-orange,
  "danger": $hex-crimson
);
@import "~bootstrap/scss/bootstrap";

body { 
    overflow: hidden;
    font-family: "Happy Monkey", sans-serif; 
    background: #171515;
    background-size: auto;
    line-height: 1.5em; /* factory bootstrap has 1.5; with no siffix */
}
#hexmob_header {
    position: fixed;
    top: 0;
    height: 36px;
    background-color: black;
    padding: 3px;
    color: white;
    font-family: 'Titillium Web', Arial, sans-serif;
}
#hexmob_header h1 {
    display: inline-block;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 32px;
    background: rgba(0, 0, 0, 0) url(/favicon-96x96.png) no-repeat top left;
    background-size: auto 30px;
}
#hexmob_header h1 sup {
    position: relative;
    font-size: 14px;
    top: -10px;
    margin-left: 0.1em;
    vertical-align: none;
}
#hexmob_header h2 {
    position: absolute;
    top: 0px;
    right: 6px;
    line-height: 44px;
    font-size: 14px;
    font-style: italic;
    margin: 0;
    padding: 0;
    display: block;
}
#hexmob_header div.day {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    display: inline-block;
    text-align: center
}

#hexmob_header h3 {
    position: absolute;
    overflow: hidden;
    display: block;
    text-align: right;
    top: 0px;
    right: 0;
    height: 1.2em;
    font-size: 12px;
    padding-left: 3px;
    background-color: white;
    color: map-get($theme-colors, danger);
    border-radius: 3px 0 0 3px;
}
#hexmob_header h3 span {
    padding: 0 6px;
    color: white;
    background-color: map-get($theme-colors, danger);
}

#hexmob_body {
    position: fixed;
    top: 36px;
    bottom: 24px;
    overflow-y: scroll;
    min-width: 100%;
}
#wallet_status {
    position: fixed;
    bottom:0;
    left:0;
    height: 24px;
    background-color: black;
}
button#connect_wallet {
    font-family: 'Titillium Web', Arial, sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 10px;
    color: #ffffe7;
    background-color: map-get($theme-colors, warning);
    padding: 4px 18px;
    border: 6px #ddbbaa outset;
    border-radius: 14px;
    text-transform: uppercase;
}
button#connect_wallet:hover { border-style: inset; border-color: #fec}

.numeric { font-family: Jura, "Courier New", monospace; display: inline; }
.day-number { 
    padding: 0;
    color: map-get($theme-colors, info);
    font-family: Jura, "Courier New", monospace;
    font-size: 1.6em;
    font-weight: bold;
}

.accordion .accordion > .card {
    border-width: 2px !important;
    border-radius: 5px !important;
}
.card {
    padding-bottom: 0.25em;
}
.card-header { 
    cursor: pointer;
    background: map-get($theme-colors, secondary);
    color: #eee; font-weight: bold;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(20,20,20,1) 0, rgba(0,0,0,1) 22px, rgba(50,50,50,1) 44px);
    border: 0;
    border-radius: 3px !important;
}
.card-body,
.card-header > .container {
    padding: .25em;
}
.burger-heading {
    display: inline-block;
    font-family: 'Titillium Web', Arial, sans-serif;
    font-size: 1.35rem;
    font-weight: bold;
    padding: .1em .25em;
}
.burger-heading > img:first-child {
    display: inline-block;
    height: 1.4em;
    vertical-align: middle;
    margin: 0 6px 0 0
}
.burger-heading > span:first-child {
    vertical-align: middle;
    font-size: 1.4em
}

.spinner-border {
    vertical-align: middle;
    margin-right: 0.2em;
}


.tooltip-inner {
    font-family: "Happy Monkey", Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    max-width: 365px;
    padding: 1em .5em;
    border-radius: 5px;
    color: map-get($theme-colors, info);
    background-color: map-get($theme-colors, black);
}
.tooltip.show {
    opacity: 0.95;
}
#lobby.progress .progress-bar { color: black; }
