/* iPhone 11 1792x828px at 326ppi */:b1
@media only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 2) { }

/* iPhone X/11 Pro 2436x1125px at 458ppi */
@media only screen
    and (device-width: 375px)
    and (device-height: 812px)
    and (-webkit-device-pixel-ratio: 3) { }

/* iPhone 11 Pro max 2688x1242px at 458ppi */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { }

@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Jura:wght@500;700&family=Nosifer&family=Press+Start+2P&display=swap');
body { 
    font-family: Jura, sans-serif; 
    background: url(/bg.jpg);
    background-size: auto;
}

.bg-primary {
    background-color: #2662e7!important;
}

.container, .container-md, .container-sm {
    max-width: 800px;
}
