@use "theme" as bs;

.btn-lobby {
    &.btn-enter { 
        /* LOBBY ENTER BUTTON */
        color: map-get(bs.$theme-colors, info); 
        border: 2px map-get(bs.$theme-colors, dark) solid; 
        &:hover:enabled {
            color: map-get(bs.$theme-colors, info); 
            border-color: map-get(bs.$theme-colors, info); 
        }
    }

    &.btn-mint { 
        /* LOBBY MINT BUTTON */
        color: map-get(bs.$theme-colors, success); 
        border: 2px map-get(bs.$theme-colors, dark) solid; 
        background-color: map-get(bs.$theme-colors, dark); 
        &:hover:enabled {
            color: map-get(bs.$theme-colors, success); 
            border-color: map-get(bs.$theme-colors, success); 
        }
    }
}
