.accordion > .card {
    border:none;
    border-radius: 3px;
}
.accordion > .card .card-header {
    font-weight: bold;
    padding: .3rem .5rem!important
}
.accordion > .card .card-header span.badge-info { 
    color: #e3e7ff;
    background-color: #2d009a;
    font-size: 0.9em;
}
.accordion > .card > .collapse > .card-body {
    background-color: #222;
}

.hex-value,
.shares-value {
    text-align: right;
}
.day-value {
    text-align: center;
}
thead, tfoot {
    background: rgb(51,51,51);
    background: linear-gradient(180deg, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 48%, rgba(51,51,51,1) 100%);
    color: #eee; font-weight: bold;
}
button.btn-sm { padding: 0.1rem .2rem; line-height: 1em; } 
button.earlyexit { font-family: Nosifer, sans-serif; color: #bb0088; padding: 0.25rem 0.5rem; border: none; line-height:1.1em }
button.earlyexit.btn-outline-primary:hover {
    color: #fff;
    background-color: #bb0088;
}
button.midexit { font-family: "Press Start", sans-serif; color: #d60; border-color: #d60; font-size:1em;}
button.midexit.btn-outline-primary:hover {
    color: #fff;
    background-color: #d60; 
    border-color: #d60;
}
button.termexit { font-family: "Happy Monkey", sans-serif; color: #292; border-color: #292; font-weight: bold; }
button.termexit.btn-outline-primary:hover {
    color: #fff;
    background-color: #292; 
    border-color: #292;
}
button.lateexit { font-family: "Happy Monkey", sans-serif; color: #727; border-color: #727; font-weight: bold; }
button.lateexit.btn-outline-primary:hover {
    color: #fff;
    background-color: #727; 
    border-color: #727;
}
