@import "./App.scss";

.form-label { font-weight: bold; }
.btn {
    font-family: 'Titillium Web', Arial, sans-serif; 
}
.btn-sm { padding: 0.1rem .2rem; line-height: 1em; } 
.btn-exitbtn,
.btn-stake,
.btn-lobby {
    padding: 0 12px; 
    font-weight: bold !important;
    font-size: 1.4em;
    border-radius: 5px;
}

/* START STAKE BUTTON */
.btn-stake.btn-start { 
    color: map-get($theme-colors, success); 
    border: 2px map-get($theme-colors, dark) solid; 
}
.btn-stake.btn-start:hover:enabled {
    border-color: map-get($theme-colors, success); 
}

/* LOBBY ENTER BUTTON */
.btn-lobby.btn-enter { 
    color: map-get($theme-colors, success); 
    border: 2px map-get($theme-colors, dark) solid; 
}
.btn-lobby.btn-enter:hover:enabled {
    border-color: map-get($theme-colors, success); 
}

/* PENDING EXIT BUTTON */
.btn-exitbtn.pendingexit { 
    color: map-get($theme-colors, info); 
    border: 2px map-get($theme-colors, secondary) solid; 
}
.btn-exitbtn.pendingexit:hover {
    border-color: map-get($theme-colors, info); 
}

/* EARLY EXIT BUTTON -- DANGER! */
.btn-exitbtn.earlyexit { 
    font-size: 1.4em;
    font-weight: normal;
    font-family: Nosifer, Alial, sans-serif !important;
    color: map-get($theme-colors, danger); 
    border: 2px map-get($theme-colors, secondary) solid; 
}
.btn-exitbtn.earlyexit:hover {
    border-color: map-get($theme-colors, danger); 
}

/* EARLY BUT PAST MID TERM EXIT BUTTON */
.btn-exitbtn.midexit { 
    color: map-get($theme-colors, warning); 
    border: 2px map-get($theme-colors, secondary) solid; 
}
.btn-exitbtn.midexit:hover {
    border-color: map-get($theme-colors, warning); 
}

/* AT TERM PLUS UP TO ONE WEEK LATE EXIT BUTTON */
.btn-exitbtn.termexit {
    color: map-get($theme-colors, success); 
    border: 2px map-get($theme-colors, secondary) solid; 
}
.btn-exitbtn.termexit:hover {
    border-color: map-get($theme-colors, success); 
}

/* LATER THAN TERM PLUS ONE WEEK EXIT BUTTON */
.btn-exitbtn.lateexit {
    color: map-get($theme-colors, success); 
    padding-left: 22px;
    border-color: map-get($theme-colors, secondary); 
    background-size: 10px 26px;
}
.btn-exitbtn.lateexit:hover {
    border-color: map-get($theme-colors, success); 
}

