@import "./App.scss";

.form-label { font-weight: bold; }
.btn {
    font-family: 'Titillium Web', Arial, sans-serif !important; 
    font-weight: bold !important;
}
.btn-sm { padding: 0.1rem .2rem; line-height: 1em; } 
.btn-exitbtn,
.btn-startbtn {
    padding: 0; 
    font-weight: bold;
    font-size: 1.0em;
    line-height: 20px;
}
/* START STAKE BUTTON */
.btn-stake.btn-start { 
    color: map-get($theme-colors, success); 
    border: 2px map-get($theme-colors, success) solid; 
    background-color: map-get($theme-colors, secondary); 
}
.btn-stakebtn.btn-start:hover {
    color: map-get($theme-colors, light ); 
    border-color: map-get($theme-colors, success);
    background-color: map-get($theme-colors, success); 
}

/* PENDING EXIT BUTTON */
.btn-exitbtn.pendingexit { 
    color: map-get($theme-colors, warning); 
    border: 2px map-get($theme-colors, dark) solid; 
    background-color: map-get($theme-colors, secondary); 
}
.btn-exitbtn.pendingexit:hover {
    color: map-get($theme-colors, warning); 
    border-color: map-get($theme-colors, dark);
    background-color: map-get($theme-colors, dark); 
}

/* EARLY EXIT BUTTON -- DANGER! */
.btn-exitbtn.earlyexit { 
    font-size: 0.95em;
    font-weight: normal;
    font-family: Nosifer, sans-serif; 
    color: map-get($theme-colors, danger); 
    border: 1px map-get($theme-colors, danger) solid; 
}
.btn-exitbtn.earlyexit:hover {
    color: map-get($theme-colors, light);
    background-color: map-get($theme-colors, danger);
}

/* EARLY BUT PAST MID TERM EXIT BUTTON */
.btn-exitbtn.midexit { 
    color: map-get($theme-colors, warning); 
    border: 2px map-get($theme-colors, warning) solid; 
}
.btn-exitbtn.midexit:hover {
    color: map-get($theme-colors, light);
    background-color: map-get($theme-colors, warning); 
}

/* AT TERM PLUS UP TO ONE WEEK LATE EXIT BUTTON */
.btn-exitbtn.termexit {
    color: map-get($theme-colors, success); 
    border: 2px map-get($theme-colors, success) solid; 
    background-color: map-get($theme-colors, secondary); 
}
.btn-exitbtn.termexit:hover {
    color: map-get($theme-colors, light); 
    border-color: map-get($theme-colors, success); 
    background-color: map-get($theme-colors, success); 
}

/* LATER THAN TERM PLUS ONE WEEK EXIT BUTTON */
.btn-exitbtn.lateexit {
    color: map-get($theme-colors, secondary); 
    padding-left: 22px;
    border-color: map-get($theme-colors, info); 
    background: map-get($theme-colors, info) url(/exclamation-mark.gif) no-repeat 7px 5px;
    background-size: 10px 26px;
}
.btn-exitbtn.lateexit:hover {
    color: map-get($theme-colors, secondary); 
    border-color: map-get($theme-colors, success); 
    background-color: map-get($theme-colors, success); 
}

