@use "theme" as bs;

#stats { 
    background-color: #16061d !important; 
}

.recharts-yAxis .recharts-cartesian-axis-tick-value {
    font-family: Jura, system-ui, monospace;
    font-size: 0.85rem;
    fill: map-get(bs.$theme-colors, light);
}
.recharts-xAxis .recharts-cartesian-axis-tick-value {
    font-family: Jura, system-ui, monospace;
    font-size: 0.8rem;
    fill: #777;
}

#colorTsr {
    stop:nth-child(1) { stop-color: map-get(bs.$theme-colors, danger); }
    stop:nth-child(2) { stop-color: map-get(bs.$theme-colors, warning); }
    stop:nth-child(3) { stop-color: map-get(bs.$theme-colors, info);   }
}
