@use "sass:color";

$hex-crimson: #ee00aa;
$hex-orange: #dd6622;
$hex-yellow: #e0c000;
$tsa-blue: #009dff;
$tsa-cyan: #00ccff;
$tsa-green: #36e9c2;
$tsa-crimson: #da15e9;
$tsa-red: #fd3863;
$col-secondary: #333333;
$col-dark: #111111;
$col-light: rgb(240, 250, 250);
$theme-colors: (
  "primary": $tsa-cyan,
  "secondary": $col-secondary,
  "dark": $col-dark,
  "success": $tsa-green,
  "info": $tsa-blue,
  "warning": $tsa-crimson,
  "danger": $tsa-red,
  "light": $col-light,
  "muted": #444444,

  "primary-faded":      color.scale($tsa-blue,      $lightness: -55%),
  "secondary-faded":    color.scale($col-secondary, $lightness: -55%),
  "success-faded":      color.scale($tsa-green,     $lightness: -55%),
  "info-faded":         color.scale($tsa-cyan,      $lightness: -55%),
  "warning-faded":      color.scale($tsa-crimson,   $lightness: -55%),
  "danger-faded":       color.scale($tsa-red,       $lightness: -55%),
  "light-faded":        color.scale($col-light,     $lightness: -55%),

  "primary-darkened":   color.scale($tsa-blue,      $lightness: -85%),
  "secondary-darkened": color.scale($col-secondary, $lightness: -85%),
  "success-darkened":   color.scale($tsa-green,     $lightness: -85%),
  "info-darkened":      color.scale($tsa-cyan,      $lightness: -85%),
  "warning-darkened":   color.scale($tsa-crimson,   $lightness: -85%),
  "danger-darkened":    color.scale($tsa-red,       $lightness: -85%),
  "light-darkened":     color.scale($col-light,     $lightness: -85%),
);
