
/* $hex-crimson: #ff00ff; */
/* $hex-yellow: #e0c000; */
$hex-crimson: #ee0066;
$hex-orange: #dd6622;
$hex-yellow: #e0c000;
$col-dark: #171515;
$col-light: #ddd;
$theme-colors: (
  "primary": $hex-orange,
  "secondary": #333030,
  "dark": $col-dark,
  "success": #80d631,
  "info": $hex-yellow,
  "warning": $hex-orange,
  "danger": $hex-crimson,
);

.primary-bo-50 { background-color: #d66f257f !important; }
.secondary-bo-50 { background-color: #ff41367f !important; }
.dark-bo-50 { background-color: #1510107f !important; }
.success-bo-50 { background-color: #80d6317f !important; }
.info-bo-50 { background-color: #ffb5107f !important; }
.warning-bo-50 { background-color: #d66f257f !important; }
.danger-bo-50 { background-color: #ff41367f !important; }
.bg-midgray { background-color: #272727 !important; }
.a-blue { color: #007bff; }
