$hex-crimson: #ee00aa;
$hex-orange: #dd6622;
$hex-yellow: #e0c000;
$tsa-blue: #009dff;
$tsa-cyan: #00ccff;
$tsa-green: #36e9c2;
$tsa-crimson: #da15e9;
$tsa-red: #b6114e;
$col-dark: #252525;
$col-light: rgb(184, 218, 226);
$theme-colors: (
  "primary": $tsa-cyan,
  "secondary": #333030,
  "dark": $col-dark,
  "success": $tsa-green,
  "info": $tsa-blue,
  "warning": $tsa-crimson,
  "danger": $tsa-red,
  "light": $col-light,
);
